@import url("style.css");

#photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px;
	width: 400px;
	height: 230px;
}

.caption {
	text-align: center;
}