@import url("style.css");

header {
	background-color: lightblue;
}

h2 {
	color: darksalmon;
	text-align: center;
	margin: 3% 0;
}

#container {
	display: inline-flex;
	margin: auto;
}

figcaption {
	text-align: center;
}

figure {
	display: inline-block;
}

figure img{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
}

#break {
	width: 30%;
	display: block;
	margin: 3% auto;
}

/*#container {
	display: table;
	width: 80%;
	margin: 20px auto;
}

#container a {
	display: table-cell;
	text-align: center;
	width: 16%;
}

#container img {
	width: 25%;
}*/

