/*
 * @Annie Yin
 * stylesheet for introductions webpage
 */

#pagewrap {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: lightblue;
}

header h1 {
	display: block;
	color: white;
	margin: 0;
	text-align: center;
	font-family: "Andale Mono", monospace;
	font-size: 50px;
}

#navbar ul {
	list-style-type: none;
	text-align: center;
	padding-left: 0;
	margin-bottom: 30px;
}

#navbar li {
	font-size: 20px;
	display: inline-block;
	margin-left: 80px;
	margin-right: 80px;
}

#navbar a {
	text-decoration: none;
	color: gray;
}

#photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px;
	width: 200px;
	height: 280px;
}

h2 {
	font-family: "Andale Mono", monospace;
}

.title1 {
	color: darksalmon;
}

.title2{
	color: mediumseagreen;
}

.title3 {
	color: darkcyan;
}

.title4 {
	color: plum;
}

li, p {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	color: gray;
}

#footer {
	text-align: center;
	color: black;
}