/*
 * @author Annie Yin
 */

body {
    font-family: "Raleway", sans-serif;
    list-style-type: none;
}

i {
    color: darkgray;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: lightblue;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1%;
}

#header h1 {
    font-family: "Pacifico";
}

#header h5 {
    border: solid 2px white;
    padding: 5px 10px;
    font-family: "Raleway", sans-serif;
}

#sign-up, #log-in {
    margin-left: 10px;
}

#log-in:hover, #sign-up:hover, #change-orientation:hover {
    background-color: skyblue;
}

#change-info {
    position: absolute;
    top: 2.6%;
    right: 4%;
    display: none;
}

#log-out {
    position: absolute;
    top: 2.6%;
    right: 14%;
    display: none;
}

#user-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#header h5:hover, .list p:hover, .close:hover, .save:hover, .list-header i:hover, .list-header h5:hover, #add-category:hover, .category:hover  {
    cursor: pointer;
}

.fa-angle-up {
    margin-bottom: 5px;
}

#customize {
    display: flex;
    flex-direction: column;
    margin-left: 3.8%;
    margin-top: 20px;
}

#customize p {
    color: darksalmon;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.6;
}

#background, #filter, #categories {
    display: flex;
    flex-direction: row;
}

#background input, #filter input {
    margin-left: 2%;
    margin-top: 3px;
    height: 50%;
    color: darkgray;
}

#add-category {
    margin-left: 1.5%;
    border: solid 2px darksalmon;
    padding-left: 5px;
    padding-right: 5px;
}

.category {
    margin-left: 1.5%;
    border-radius: 10px;
    color: white;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

#not-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-left: 3%;
    width: 18%;
    border-radius: 1.5%;
}

.list h5 {
    margin-top: 4%;
    margin-left: 5%;
    font-weight: bold;
}

.list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darksalmon;
}

.list-header i {
    margin-left: 3%;
}

.card, .add-card {
    border-radius: 1.5%;
    padding: 10px 10px;
    margin: 4%;
    margin-bottom: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 90%;
    background-color: white;
}

.add-card {
    text-align: center;
    color: darkgray;
}

.add-card:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}

.card:hover {
    background-color: #E8E8E8;
}

.card-name, .comments, .category-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.card-categories {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 25px;
}

.colored-box {
    width: 50px;
    height: 10px;
    border-radius: 10px;
    margin-right: 3px;
}

.card-text {
    margin-bottom: 4px;
}

.clock {
    /*background-color: #f9b4b4;*/
    border-radius: 20px;
}

.deadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.deadline p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    color: darkgray;
}

.deadline p:hover {
    cursor: default;
}

.deadline img {
    margin: 5px;
    width: 15px;
    height: 15px;
}

.delete-list {
    color: darksalmon;
    opacity: 0.6;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}

#add-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkgray;
    margin-left: 3%;
    height: 10%;
}

#add-list h5 {
    margin-top: 4%;
    margin-left: 5px;
    font-weight: bold;
}

#add-list input {
    margin-left: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 7%;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7);
}

.box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    width: 24%;
    overflow: hidden;
    border-radius: 10px;
}

.box h5 {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: darksalmon;
    font-size: 24px;
}

.box div {
    margin: 10px;
}

.box input, .box textarea {
    width: 100%;
}

.save {
    align-self: flex-end;
    margin-right: 2%;
    padding: 4px;
    border: solid 1px darkgray;
    color: darkgray;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 7.5%;
    right: 36%;
    color: white;
    font-size: 40px;
}

#add-checklist {
    margin-bottom: 0;
}

#pick-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

#show-name {
    margin-left: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: darksalmon;
}

#show-checklist {
    display: flex;
    flex-direction: column;
}

#show-deadline, #show-datecreated {
    color: darkgray;
}

#show-name, #show-description, #show-deadline, #show-datecreated, #show-checklist, #show-images, #show-users, #show-comments {
    margin: 5px;
}

#show-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



