/*
 *	Author: Annie Yin
 */

body {
	font-family: "Helvetica"
}

a {
	color: inherit;
}

.site-title {
	color: orange;
}

.entry-title, time, .comments-link {
	color: lightblue;
}

#logo {
	width: 20%;
}

.site-logo, .entry-thumbnail {
	width: 100%;
}

.site-nav-menu {
	list-style: none;
	color: darkgray;
	display: inline-flex;
	flex-direction: row;
}

.site-nav-menu li {
	margin: 1%;
}

.entry-content p {
	margin-bottom: 5%
}

.entry-content a {
	color: orange;
}

.center {
	align-self: center;
}

img {
	margin-bottom: 4%;
}

@media (min-width: 0px){
	.site-nav-title {
		display: none;
	}
}

@media (max-width: 1068px) {
	.site-nav-menu {
		display: none;
	}
}

@media (max-width: 576px) {
	.entry-content {
		display: none;
	}
}

footer ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer li {
	color: darkgray;
	margin: 1%;
}

.site-copyright {
	text-align: right;
}