<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Annie Yin">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- libraries neded for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <!-- support for this page -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Playfair+Display|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/trello.js" async></script>
    <title>Trello</title>
</head>
    
<body>
    <div id="app">
        <div id="header">
            <h1>Trello</h1>
            <div id="user-header">
                <h5 id="log-in" v-on:click="checkUser">Log In</h5>
                <h5 id="sign-up" v-on:click="addUser">Sign Up</h5>
            </div>
        </div>
        <div id="not-header">
            <div class="list" v-for="(l, index) in listData" v-bind:id="index">
                <div class="list-header">
                    <h5 v-on:click="editListName($event)">{{ l.name }}</h5> 
                    <i class="fa fa-chevron-up" v-on:click="collapseList($event)"></i>
                    <i class="fa fa-chevron-down" v-on:click="expandList($event)"></i>
                </div>
                <div class="yo">
                    <div class="add-card" v-on:click="addCard($event)"><i class="fa fa-plus"></i></div>
                    <div class="card" v-for="(c, index) in l.cards" v-on:click="showCard" v-bind:id="index">
                        <div class="card-name">
                            <p class="card-text" v-on:click="editCardName($event)">{{ c.name }}</p>
                            <i v-on:click="deleteCard($event)" class="fa fa-times"></i>
                        </div>
                        <div class="deadline" v-if="c.deadline">
                            <div class="clock"><img src="images/079-clock.png" /></div> 
                            <p>{{ c.deadline }}</p> <br/>
                        </div>
                    </div>
                    <p class="delete-list" v-on:click="deleteList($event)">Delete</p>
                </div>
            </div>
            <div id="add-list">
                <i class="fa fa-plus"></i>
                <h5>Add list</h5>
                <input id="list-input" v-model="newList.name" @keyup.enter="addList">
            </div>

            <form id="add-modal" class="modal">
                <span class="close">&times;</span>
                <div class="box">
                    <h5>Add Card</h5>
                    <div id="add-name">
                        <input v-model="newCard.name" placeholder="Name">
                    </div> 
                    <div id="add-description">
                        <textarea v-model="newCard.description" placeholder="Description" rows="4"></textarea>
                    </div>
                    <div id="add-deadline">
                        <input v-model="newCard.deadline" placeholder="Deadline">
                    </div>
                    <!--<div id="add-checklist">
                        Checklist: 
                    </div> -->
                    <p id="save-card" class="save">Save</p>
                </div>
            </form>

            <div id="show-modal" class="modal">
                <span class="close">&times;</span>
                <div class="box">
                    <div id="show-name"></div>
                    <div id="show-description"></div>
                    <div id="show-deadline"></div>
                </div>
            </div>

            <form id="add-user-modal" class="modal">
                <span class="close">&times;</span>
                <div class="box">
                    <h5>Create an account</h5>
                    <div id="add-username">
                        <input placeholder="Name" v-model="newUser.name">
                    </div> 
                    <div id="add-email">
                        <input placeholder="Email" v-model="newUser.email">
                    </div> 
                    <p id="save-user" class="save">Sign up</p>
                </div>
            </form>
            
            <form id="sign-in-modal" class="modal">
                <span class="close">&times;</span>
                <div class="box">
                    <h5>Already an user?</h5>
                    <div id="check-username">
                        <input placeholder="Name" v-model="newUser.name">
                    </div> 
                    <div id="check-email">
                        <input placeholder="Email" v-model="newUser.email">
                    </div> 
                    <p id="sign-in" class="save">Sign in</p>
                </div>
            </form>
            
            <form id="rename-modal" class="modal">
                <span class="close">&times;</span>
                <div class="box">
                    <h5>Rename</h5>
                    <input id="new-name" placeholder="Name">
                    <p id="save-name" class="save">Save</p>
                </div>
            </form>
        </div>
    </div>
</body>
    
</html>