<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Annie Yin">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- libraries neded for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <!-- support for this page -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/trello.js" async></script>
    <title>Trello</title>
</head>
    
<body>
    <h1>Trello</h1>
    <div id="app">
        <ul class="list" v-for="list in lists">
            {{ list.name }} <br/>
            <li class="card" v-for="c in list.cards">
                {{ c.name }} <br/>
                {{ c.description }} <br/>
                {{ c.deadline }} <br/>
            </li>
        </ul>
        
    </div>
</body>
    
</html>